.sidebar {
  width: 296px;
  padding: 32px 0;
  background: $gray-100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/e14818f156111b5b0a00492903c1552d319ec9c5/week5/logo-ANSWER.svg);
    width: 151px;
    height: 40px;
    margin: 0 32px 32px 32px;
  }
  li {
    border-left: 4px solid transparent;
    &:hover {
      border-left: 4px solid $success;
    }
  }
  li.active {
    border-left: 4px solid $success;
  }
  li.active a{
    color: $success;
  }
}
.imgArea {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    margin-top: -5px;
  }
}