.admin {
  width: 100%;
  .idArea {
    .icon {
      font-size: 18px;
      color: $success;
    }
  }
  .tableBtn {
    border: none;
    background: none;
    &:hover {
      opacity: 0.7;
    }
  }
  .changePage {
    padding: 6px;
  }
  .pictureArea {
    width: 141px;
    height: 141px;
    overflow: hidden;
    img {
      height: 100%;
      margin-left: -25%;
    }
  }
  a {
    &:hover {
      opacity: 0.7;
    }
  }
}